@charset "utf-8";

/*========================================================================
레이아웃
========================================================================*/
#wrap { overflow:hidden; }
.header-inner { position:relative; max-width:1600px; margin:0 auto; }
.footer-inner { position:relative; max-width:1300px; margin:0 auto; }
.sub_content { padding:30px 0 0; }

/* path */
.location_wrap { border:0; }
.location_wrap .location_cont { width:1300px; }
.location_cont em { padding:40px 0 0; color:#747474; font-size:15px; font-weight:300; }

/* 리스트 path */
.location_select { display:inline-block; position:relative; min-width:auto; margin:37px 0 0; border:0px solid #999; background:none; z-index:50; }
.location_select .location_tit a { display:block; padding:3px 32px 3px 9px; color:#777; font-size:15px; font-weight:300; }
.location_select .location_tit span { padding:0; }
.location_select ul { display:block; position:absolute; top:100%; left:0; width:100%; min-width:150px; margin-left:-1px; padding:6px 0 6px 0; font-size:0; border:1px solid #999; background:#fff; }
.location_select ul li a { font-size:12px; font-weight:300; }
.location_select ul li a:hover { background:#002e6a; }

/* font */
body, th, td, input, select, textarea, button { font-family:"Noto Sans KR","Montserrat","Malgun Gothic", Verdana, Dotum, AppleGothic, sans-serif; }
@font-face {
    font-family: 'SeoulHangangM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* layout */
.sub_content .side_cont { width:160px; }
#contents .sub_content > .side_cont + .content { width:1100px; }

/* 체크박스 */
.form_element label.check,
.form_element label.check:hover,
.form_element label.check_s,
.form_element label.check_s:hover { min-height:25px; padding:0 0 0 35px; color:#151515; font-size:16px; font-weight:300; line-height:23px; background:url("../../_dbook/img/check_off.png") no-repeat 0 50%; background-size:25px; }
.form_element label.check.on,
.form_element label.check.on:hover,
.form_element label.check_s.on,
.form_element label.check_s.on:hover { background:url("../../_dbook/img/check_on.png") no-repeat 0 50%; background-size:25px; }

/* 라디오버튼 */
.form_element label.choice_s,
.form_element label.choice_s:hover { min-height:26px; padding:0 0 0 36px; color:#151515; font-size:22px; font-weight:400; line-height:1; background:url("../../_dbook/img/radio_off.png") no-repeat 0 50%; background-size:26px; }
.form_element label.choice_s.on { background:url("../../_dbook/img/radio_on.png") no-repeat 0 50%; background-size:26px; }

/* 어바웃참치 영상 */
.video-dim { position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:100; }
.video-wrap { position:fixed; left:50%; top:50%; width:810px; height:495px; padding:70px 30px 30px; background:#fff; box-sizing:border-box; transform:translate(-50%, -50%); z-index:101; }
.close-video { display:block; position:absolute; right:20px; top:20px; width:19px; height:19px; font-size:0; cursor:pointer; }
.close-video::before { content:""; display:block; position:absolute; left:9px; top:-4px; width:1px; height:27px; background:#000; transform:rotate(45deg); }
.close-video::after { content:""; display:block; position:absolute; left:9px; top:-4px; width:1px; height:27px; background:#000; transform:rotate(-45deg); }

.add_wish_layer p.success { background: url("../../_dbook/img/add_wish_success.png") no-repeat center top; }

/* 스프라이트 */
[class|="sp-layout"]::before { content:""; display:inline-block; vertical-align:middle; font-size:0; background-image:url("../../_dbook/img/sp_layout.png"); background-size:105px 95px; background-repeat:no-repeat; }

/*========================================================================
상단영역
========================================================================*/
/* 상단 띠 배너 */
.header-line-banner { overflow:hidden; }
.header-line-banner img { vertical-align:top; position:relative; left:50%; width:2000px; margin:0 0 0 -1000px; }

/* 상단 배경 */
#header_warp { position:relative; background:#ebfcfe; z-index:101; }

.top-area { text-align:center; }

/* 로고 */
.logo { display:inline-block; vertical-align:top; position:relative; padding:24px 0; z-index:1; }

/* 좌측 회원 메뉴 */
.member-menu-left { position:absolute; left:0; top:0; padding:37px 0 0; }
.member-menu-left ul { font-size:0; }
.member-menu-left ul li { display:inline-block; vertical-align:top; position:relative; }
.member-menu-left ul li::after { content:""; display:block; position:absolute; right:0; top:50%; width:1px; height:11px; margin:-6px 0 0; background:#d6d4d4; }
.member-menu-left ul li:last-child::after { display:none; }
.member-menu-left ul li a { display:block; padding:0 10px; color:#151515; font-size:15px; font-weight:300; line-height:1; }
.member-menu-left ul li:first-child a { padding-left:0; }
.member-menu-left ul li:last-child a { padding-right:0; }

/* 우측 회원 메뉴 */
#header .member-menu-right { position:absolute; right:0; top:0; padding:29px 0 0; }
#header .member-menu-right > ul { font-size:0; }
#header .member-menu-right > ul li { display:inline-block; vertical-align:top; position:relative; }
#header .member-menu-right > ul li a { display:block; padding:0 15px; }
#header .member-menu-right > ul li:last-child a { padding-right:12px; }
#header .member-menu-right > ul li a.sp-layout-mypage::before { width:29px; height:30px; background-position:-76px -30px; }
#header .member-menu-right > ul li a.sp-layout-cart::before { width:35px; height:30px; background-position:-38px -38px; }
#header .member-menu-right > ul li a.sp-layout-cart span { position:absolute; right:0; top:-6px; width:20px; height:20px; color:#fff; font-size:14px; font-weight:300; text-align:center; line-height:18px; border-radius:10px; background:#f72a66; }

/* 우측 회원 메뉴 검색 */
#header .member-menu-right > ul li.sp-layout-search { width:29px; height:30px; padding:0 15px; cursor:pointer; }
#header .member-menu-right > ul li.sp-layout-search a.search-a { display:block; position:absolute; right:0; top:0; width:29px; height:30px; padding:0; background-image:url("../../_dbook/img/sp_layout.png"); background-position:-76px 0; background-size:105px 95px; background-repeat:no-repeat; }
#header .member-menu-right > ul li.sp-layout-search .top_search { top:0; right:15px; border:0; background:none; }
#header .member-menu-right > ul li.sp-layout-search .top_search .top_text_cont { width:100%; background:none; }
#header .member-menu-right > ul li.sp-layout-search .top_search .top_text_cont input.top_srarch_text { width:0; padding:0; border:0; background:#fff; /*transition:all ease 0.6s;*/ }
#header .member-menu-right > ul li.sp-layout-search .top_search .top_text_cont .btn_top_srarch { border:0; opacity:0; }
#header .member-menu-right > ul li.sp-layout-search.on a.search-a { display:none; }
#header .member-menu-right > ul li.sp-layout-search.on .top_search { display:block !important; }
#header .member-menu-right > ul li.sp-layout-search.on .top_search .top_text_cont input.top_srarch_text { width:420px; height:46px; margin:-7px -17px 0 0; padding:5px 45px 5px 15px; border:solid 1px #b6b7b7; border-radius:23px; }
#header .member-menu-right > ul li.sp-layout-search.on .top_search .top_text_cont .btn_top_srarch { opacity:1; }

/* gnb */
#header .gnb { position:absolute; left:0; bottom:29px; width:100%; }
#header .gnb .gnb_all { position:static; float:left; background:none; cursor:pointer; }
#header .gnb .gnb_all a { display:inline-block; vertical-align:middle; position:relative; width:28px; height:28px; border-radius:14px; background:#002e6a; }
#header .gnb .gnb_all a + strong { display:inline-block; vertical-align:middle; margin:-1px 0 0; padding:0 13px; color:#002e6a; font-size:20px; font-weight:500; line-height:28px; }
#header .gnb .gnb_all a::before { content:""; display:block; position:absolute; left:50%; top:50%; width:12px; height:12px; margin:-6px 0 0 -6px; border-top:solid 1px #fff; border-bottom:solid 1px #fff; box-sizing:border-box; }
#header .gnb .gnb_all a::after { content:""; display:block; position:absolute; left:50%; top:13px; width:12px; height:1px; margin:0 0 0 -6px; background:#fff; }
#header .gnb .gnb_all a img { display:none; }
#header .gnb .gnb_menu_box { float:left; width:auto; text-align:left; }
#header .gnb .gnb_menu_box .depth0 > li > a { padding:0 13px; color:#151515; font-size:20px; font-weight:500; line-height:26px; }
#header .gnb .gnb_menu_box_add { float:left; }
#header .gnb .gnb_menu_box_add .depth0 > li { display:inline-block; vertical-align:top; position:relative; }
#header .gnb .gnb_menu_box_add .depth0 > li > a { padding:0 13px; color:#151515; font-size:20px; font-weight:500; line-height:26px; }
#header .gnb .gnb_menu_box_add .depth0 > li:last-of-type a { padding-right:20px; }
#header .gnb .gnb_menu_box_add .depth0.blue > li:first-child::before { content:""; display:inline-block; vertical-align:top; width:1px; height:17px; margin:5px 0 0; background:#acb8b9; }
#header .gnb .gnb_menu_box_add .depth0.blue > li:first-child a { padding-left:20px; }
#header .gnb .gnb_menu_box_add .depth0.blue > li > a { color:#1864b2; }
#header .gnb .gnb_left,
#header .gnb .gnb_right { display:none; }
#header .gnb a.sp-layout-business { display:block; position:absolute; right:0; top:-6px; width:140px; height:40px; float:right; color:#fff; font-size:18px; font-weight:500; line-height:38px; border-radius:10px; background:#f72a66; }
#header .gnb a.sp-layout-business::before { vertical-align:top; width:25px; height:19px; margin:10px 9px 0 0; background:url("../../_dbook/img/header_business_icon.png") no-repeat 50% 50%; }
#header .gnb a.sp-layout-business .popup { display:none; position:absolute; right:0; top:calc(100% + 10px); z-index:11; }
#header .gnb a.sp-layout-business:hover .popup { display:block; }

/* 상단 고정 */
#header.fixed { position:fixed; left:0; top:0; width:100%; padding:0 15px; background:#fff; box-shadow:0 2px 15px rgba(70,70,70,0.1); box-sizing:border-box; z-index:101; }

#header.fixed .header-line-banner,
#header.fixed .member-menu-left,
#header.fixed .logo,
#header.fixed .member-menu-right { display:none; }
#header.fixed .header-inner { height:86px; }
#header.fixed .gnb a.sp-layout-business { top:-6px; }
#header.fixed .gnb_allmenu { box-shadow:inset 0 15px 15px rgba(70,70,70,0.04); }

/* 최근 검색어 */
#header .top_search .search_cont { width:calc(100% + 17px); margin:-26px 0 0; padding:46px 20px 20px; text-align:left; border:solid 1px #d4d4d4; box-sizing:border-box; }
#header .top_search .search_cont > div { height:190px; min-height:190px; overflow-y:auto; }
#header .member-menu-right > ul li .recent_box { display:inline-block; vertical-align:top; position:relative; float:none; width:54%; padding:0 25px 0 0; border-right:solid 1px #d4d4d4; box-sizing:border-box; }
#header .member-menu-right > ul li .recent_box dl { padding:0; }
#header .member-menu-right > ul li .recent_box dl dt { padding:0 0 20px; color:#151515; font-size:16px; font-weight:400; line-height:1; }
#header .member-menu-right > ul li .recent_box dl dd { padding:0; }
#header .member-menu-right > ul li .recent_box dl dd > ul { margin:0; }
#header .member-menu-right > ul li .recent_box dl dd > ul li { width:100%; margin:0 0 10px; }
#header .member-menu-right > ul li .recent_box dl dd > ul li:last-child { margin:0; }
#header .member-menu-right > ul li .recent_box dl dd > ul li a { width:60%; }
#header .member-menu-right > ul li .recent_box dl dd > ul li span { width:40%; padding:0; color:#747474; font-size:15px; font-weight:300; }
#header .member-menu-right > ul li .recent_box dl dd > ul li span button { display:none; }
#header .member-menu-right > ul li .recent_box li a { padding:0; color:#151515; font-size:15px; font-weight:300; }
#header .member-menu-right > ul li .recent_box .seach_top_all { position:absolute; right:25px; top:0; width:auto; height:auto; background:none; overflow:visible; }
#header .member-menu-right > ul li .recent_box .seach_top_all button { position:relative; padding:0; color:#747474; font-size:15px; line-height:normal; }
#header .member-menu-right > ul li .recent_box .seach_top_all button::before { content:""; display:block; position:absolute; left:-8px; top:4px; width:1px; height:15px; margin:0 10px 0 0; background:#747474; transform:rotate(-45deg); }
#header .member-menu-right > ul li .recent_box .seach_top_all button::after { content:""; display:block; position:absolute; left:-8px; top:4px; width:1px; height:15px; margin:0 10px 0 0; background:#747474; transform:rotate(45deg); }
#header .member-menu-right > ul li .recent_box .seach_top_all button strong { font-weight:300; }
#header .member-menu-right > ul li .recent_box .seach_top_all .btn_top_search_close { display:none; }
#header .member-menu-right > ul li .search_hot_list { display:inline-block; vertical-align:top; width:46%; padding:0 0 0 25px; text-align:left; border:0; box-sizing:border-box; }
#header .member-menu-right > ul li .search_hot_list .search_hot_tit { display:block; margin:0; padding:0 0 20px; color:#151515; font-size:16px; font-weight:400; line-height:1; background:none; }
#header .member-menu-right > ul li .search_hot_list ul { display:block; font-size:0; }
#header .member-menu-right > ul li .search_hot_list ul li { display:block; margin:0 0 10px; }
#header .member-menu-right > ul li .search_hot_list ul li:last-child { margin:0; }
#header .member-menu-right > ul li .search_hot_list ul li a { height:auto; padding:0; border:0; }
#header .member-menu-right > ul li .search_hot_list ul li a span { display:inline-block; vertical-align:top; top:0; width:85px; height:30px; padding:0; color:#151515; font-size:15px; font-weight:300; text-align:center; text-overflow:ellipsis; line-height:28px; border:solid 1px #d4d4d4; border-radius:15px; box-sizing:border-box; white-space:nowrap; overflow:hidden; }
#header .member-menu-right > ul li .search_hot_list ul li a span:hover { text-decoration:none; }
#header .member-menu-right > ul li .search_hot_list ul li a span::before { content:"#"; }

/* 전체 카테고리 */
#header .gnb_allmenu { top:100%; border:0; box-shadow:inset 0 15px 15px rgba(70,70,70,0.08); }
#header .gnb_allmenu_box { position:relative; max-width:1600px; height:329px; margin:0 auto; padding:50px 0; box-sizing:border-box; }
#header .gnb_allmenu_box::before { content:""; display:block; position:absolute; left:50%; top:50%; width:1px; height:212px; margin-top:-106px; background:#ddd; }
#header .gnb_allmenu_box > ul { display:inline-block; vertical-align:top; width:50%; margin:0; padding:0 80px 0 0; box-sizing:border-box; }
#header .gnb_allmenu_box > ul > li { width:25% !important; margin:0; }
#header .gnb_allmenu_box > ul > li .all_menu_cont { padding:0; }
#header .gnb_allmenu_box > ul > li .all_menu_cont > a { padding:0; color:#151515; font-size:20px; font-weight:500; line-height:1; }
#header .gnb_allmenu_box .all_depth1 { padding:20px 0 0; border:0; }
#header .gnb_allmenu_box .all_depth1 li a { padding:10px 0; color:#151515; font-size:16px; font-weight:300; line-height:1; }
#header .gnb_allmenu_box .all_depth1 li a:hover { text-decoration:none; }
#header .gnb_allmenu .btn_all_menu_close { display:none; }
.all-cate-hard { display:inline-block; vertical-align:top; width:50%; padding:0 0 0 80px; box-sizing:border-box; }
.all-cate-hard ul { margin:0; }
.all-cate-hard > ul > li { width:33.33%; margin:60px 0 0; }
.all-cate-hard > ul > li:nth-child(-n+3) { margin:0; }
.all-cate-hard ul li > a { padding:0; color:#151515; font-size:20px; font-weight:500; line-height:1; }
.all-cate-hard ul li.business > a { color:#f72a66; }
.all-cate-hard ul li div { padding:20px 0 0; }
.all-cate-hard ul li div ul li { display:block; width:100%; margin:0; }
.all-cate-hard ul li div ul li a { padding:10px 0; color:#151515; font-size:16px; font-weight:300; line-height:1; }


/*========================================================================
하단영역
========================================================================*/
#footer_wrap { border:0; }
#footer { padding:42px 0 80px; background:#303030; }

/* shop-util */
#footer .shop-util { margin:0 0 40px; padding:0 0 21px; border-bottom:solid 1px #585858; overflow:hidden; }
#footer .shop-util ul { float:left; font-size:0; }
#footer .shop-util ul li { display:inline-block; vertical-align:top; }
#footer .shop-util ul li a { display:block; padding:0 12px; color:#fff; font-size:16px; font-weight:300; line-height:38px; }
#footer .shop-util ul li:first-child a { padding-left:0; }
#footer .shop-util ul li:last-child a { padding-right:0; }

/* sns */
#footer .shop-util .sns { float:right; font-size:0; }
#footer .shop-util .sns li { display:inline-block; vertical-align:top; position:relative; width:38px; height:38px; margin:0 0 0 15px; }
#footer .shop-util .sns li a { display:block; width:100%; height:100%; padding:0; font-size:0; line-height:1; }
#footer .shop-util .sns li a.sp-layout-sns01::before { display:block; position:absolute; left:0; top:0; width:38px; height:38px; background-position:0 0; }
#footer .shop-util .sns li a.sp-layout-sns02::before { display:block; position:absolute; left:0; top:0; width:38px; height:38px; background-position:-38px 0; }
#footer .shop-util .sns li a.sp-layout-sns03::before { display:block; position:absolute; left:0; top:0; width:38px; height:38px; background-position:0 -38px; }

/* shop-info */
#footer .shop-info { display:table; width:100%; color:#fff; }
#footer .shop-info > div { display:table-cell; vertical-align:top; position:relative; box-sizing:border-box; }
#footer .shop-info > div::after { content:""; display:block; position:absolute; right:0; top:0; width:1px; height:182px; background:#585858; }
#footer .shop-info > div:last-child::after { display:none; }
#footer .shop-info .box h3 { font-size:16px; font-weight:300; line-height:1; }
#footer .shop-info .box strong { font-size:28px; font-weight:700; line-height:1; }
#footer .shop-info .box p { color:#acacac; font-size:15px; font-weight:300; }
#footer .shop-info .box ul { margin:30px 0 0; }
#footer .shop-info .box ul li a { color:#fff; }
#footer .shop-info .box1 { width:34%; }
#footer .shop-info .box1 h3 { margin:0 0 15px; }
#footer .shop-info .box1 strong { display:block; margin:0 0 20px; }
#footer .shop-info .box1 ul { font-size:0; }
#footer .shop-info .box1 ul li { display:inline-block; vertical-align:top; width:150px; height:40px; }
#footer .shop-info .box1 ul li:first-child { margin:0 10px 0 0; }
#footer .shop-info .box1 ul li a { display:block; font-size:15px; font-weight:300; text-align:center; line-height:40px; border:solid 1px #6f6f6f; border-radius:20px; box-sizing:border-box; }
#footer .shop-info .box2 { width:36%; padding:0 40px; }
#footer .shop-info .box2 h3 a { display:block; position:relative; color:#fff; font-size:16px; font-weight:300; }
#footer .shop-info .box2 h3 a::after { content:"more +"; display:block; position:absolute; right:0; top:0;  }
#footer .shop-info .box2 ul li a { display:block; padding:10px 0; font-size:15px; font-weight:300; line-height:1; }
#footer .shop-info .box2 ul li a span { float:right; color:#acacac; }
#footer .shop-info .box3 { width:30%; text-align:right; }
#footer .shop-info .box3 ul { margin:0; }
#footer .shop-info .box3 ul li,
#footer .shop-info .box3 ul li a { color:#808080; font-size:13px; font-weight:300; }
#footer .shop-info .box3 .family-site { display:inline-block; vertical-align:top; position:relative; width:187px; height:40px; margin:30px 0 0; text-align:left; box-sizing:border-box; }
#footer .shop-info .box3 .family-site > a { display:block; position:absolute; left:0; top:0; width:100%; height:100%; padding:0 0 0 22px; color:#fff; font-size:15px; font-weight:300; line-height:38px; border:solid 1px #6f6f6f;  border-radius:20px; background:#303030; box-sizing:border-box; z-index:2; }
#footer .shop-info .box3 .family-site > a::after { content:""; display:block; position:absolute; right:16px; top:13px; width:7px; height:7px; border-right:solid 1px #fff; border-bottom:solid 1px #fff; transform:rotate(45deg); }
#footer .shop-info .box3 .family-site > a.on::after { top:17px; transform:rotate(225deg); }
#footer .shop-info .box3 .family-site ul { display:none; position:absolute; left:0; bottom:calc(100% - 19px); width:100%; height:160px; padding:10px 0 29px 22px; border:solid 1px #6f6f6f; border-bottom:0; border-radius:10px 10px 0 0; background:#303030; box-sizing:border-box; overflow-y:auto; z-index:1; }
#footer .shop-info .box3 .family-site ul li {  }


/*========================================================================
우측 스크롤
========================================================================*/
.scroll_wrap { width:1300px; margin-left:-650px; }
#scroll_right.ban_fixed { top:106px; margin-right:-782px; }

#scroll_right { width:86px; }
#scroll_right .right-cart { margin:0 0 14px; }
#scroll_right .right-cart a { display:block; color:#151515; font-size:14px; font-weight:300; text-align:center; }
#scroll_right .right-cart a.sp-layout-cart::before { display:block; width:35px; height:30px; margin:0 0 6px 17px; background-position:-38px -38px; }
#scroll_right .right-cart a span { position:absolute; right:20px; top:15px; width:20px; height:20px; color:#fff; font-size:14px; font-weight:300; text-align:center; line-height:18px; border-radius:10px; background:#f72a66; }
#scroll_right .scroll_right_cont { float:none; padding:21px 0 13px; border:solid 1px #e2e2e2; border-radius:20px; background:#fff; }
#scroll_right .scroll_right_cont h4 { margin:0 9px; padding:16px 0 0; color:#151515; font-size:14px; font-weight:300; line-height:1; border-top:solid 1px #e3e3e3; box-sizing:border-box; }
#scroll_right .scroll_right_cont ul { padding:12px 0 0; }
#scroll_right .scroll_right_cont ul li { width:64px; height:64px; margin:0 auto 10px; }
#scroll_right .scroll_right_cont .photo { width:64px; height:64px; }
#scroll_right .scroll_right_cont .src_box { height:64px; padding:0 0 0 10px; }
#scroll_right .scroll_right_cont .src_box strong { color:#002e6a; }
#scroll_right .scroll_right_cont ul li > button { background:#002e6a; }
#scroll_right .scroll_right_cont ul li > button::before { content:"x"; display:block; color:#fff; line-height:12px; }
#scroll_right .scroll_right_cont ul li > button img { opacity:0; }

/* pagination */
#scroll_right .scroll_right_cont .scr_paging { width:auto; font-size:0; }
#scroll_right .scroll_right_cont .scr_paging > span { display:none; }
#scroll_right .scroll_right_cont .scr_paging > button { margin:0 6px; font-size:0; }

/* 카카오톡 */
#scroll_right .scroll-right-kakao { display:block; padding:10px 0 0; text-align:center; }


/*========================================================================
사업자몰
========================================================================*/
/* 미로그인 */
.nologin-business-tit { padding-top:0; }
.b_btn_wrap {text-align:center;}
.b_btn_wrap .move-business { display:inline-block; width:295px; height:60px; margin:40px auto 0; color:#fff; font-size:16px; font-weight:400; text-align:center; line-height:60px; border-radius:10px; background:#002e6a; }
.b_btn_wrap .move-login { display:inline-block; width:293px; height:58px; margin:0 0 0 10px; color:#151515; font-size:16px; font-weight:400; text-align:center; line-height:60px; border-radius:10px; background:#fff; border: 1px solid #b6b7b7}
